@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #eaf2d7;
    font-family:'Poppins', sanf-serif;
    max-width:25rem;
    margin: 0 auto;
    line-height: 1.5;
    text-align:center;
    padding:18px;
}

h1,
h2 {
  color: rgb(68, 69, 70);
  background-color: #b3dee2;
  padding: 2rem;
  font-family: 'Bree Serif', serif;
  border-radius: 12px;
  max-width: auto;
  border-radius: 1rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h2 {
  text-align: center;
}

.quote{
    color:#ea9ab2;

}
p{
   color:#639bcc;
   line-height:3;
   font-size: 1.5rem;
   padding:30px;
}

a {
    color:#e27396;
    line-height: 2.5;
}

nav {
    font-size: 1.2rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}

nav a:hover{
    color: #ea9ab2;
}
.back-to-top {
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    max-width: auto;
    border-radius: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    background-color: #e27396;
    color: #efcfe3;
    text-decoration: none;
    line-height: 0;

}
html{
    scroll-behavior: smooth;
}

footer{
    color:rgb(62, 182, 164);
    padding: 2rem;
}
