@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgb(11, 35, 44);
    font-family:'Poppins', sanf-serif;
    max-width:25rem;
    margin: 0 auto;
    line-height: 1.5;
    text-align:center;
    padding:18px;
}

h1,h2 { 
    color:rgb(68, 69, 70);
    background-color: rgb(217, 112, 43);
    padding:2rem;
    font-family: 'Bree Serif', serif;

}
.quote{
    color:darkslategray;
    background-color: rgb(244, 210, 147);

}
p{
   color:darkslategray;
   line-height:3;
   font-size: 1.5rem;
   padding:30px;
}

a {
    color:oldlace;
    line-height: 3;
}

nav {
    font-size: 1rem;
    background-color: rgb(52, 6, 60);
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}
nav a:hover{
    color: rgb(227, 101, 210);
}
.back-to-top {
    padding: 1rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: rgb(52, 6, 60);
    color: rgba(222, 44, 44, 0.59);
    text-decoration: none;
    line-height: 0;
}

footer{
    color:rgb(42, 62, 59);
    padding: 2rem;
}
