* {
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  h1 {
    font-family: "Lobster", cursive;
    padding: 11rem;
    font-size: 7rem;
  }
  h4{
    position:fixed;
    bottom:0;
    right:0;
    background:#BCAAA4;
    padding:17px;
    color:white;
  }
  h2 {
    padding: 20px;
    font-size: 1.9rem;
  }
  h1,
  h2 {
    background-color: #778899;
    text-align: center;
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1564019472231-4586c552dc27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: cover;
    max-width: 800px;
    padding: 1rem;
    text-align: center;
    color: black;
  }
  h3 {
    padding: 3rem;
    background-color:#778899;
  }
  ul{
    background-color:#778899;
    padding:4px;
    font-size:1.5rem;
  }
  
  .hover-card {
    width: 300px;
    height: 100px;
    position: relative;
    margin: 1rem;
    display: inline-block;
  }
  
  .homebodies {
    background-color: #778899;
    width: 500px;
    height: 100px;
    transition: width 1s, background-color 3s;
    position: relative;
  }
  
  .homebodies:hover {
    background-color: orange;
    width: 600px;
    height: 100px;
    cursor: not-allowed;
    position: absolute;
  }
  
  img {
    width: 100%;
    display: block;
    margin: 4rem 0;
  }
  
  footer {
    padding: 4rem;
  }
  